.main {
  position: fixed;
  z-index: 1100;
  background-color: black;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
}
